<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar"
             data-toggle="collapse" data-target=".nav-collapse">
          </a>
          <a class="brand" href="/">gettext for Ruby</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="http://rubydoc.info/gems/gettext">Reference</a></li>
              <li><a href="https://github.com/ruby-gettext/gettext">Repository</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      {{content}}

      <hr>

      <footer>
        <p>Copyright &copy; 2012 The ruby-gettext project</p>
        <p>Copyright &copy; 2003-2006 Masao Mutoh</p>
        <p>
          This document is distributed under the terms of the
          <a href="http://www.gnu.org/licenses/fdl.html">GNU Free Documentation License</a>.
        </p>
        <p>The original document was at <a href="http://www.yotabanana.com/hiki/ruby-gettext.html">Ruby-GetText-Package - YotaLab Storage</a> at 2012-03-11.</p>
      </footer>
    </div>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
<!--
Local variables:
indent-tabs-mode: nil
End:
-->
